 <div class="pagina">
<div Class="Containermodal" >
  <h2 Class="titlemodal" >Pagamento para 
    <span Class="usermodal" >   </span>  
    
  </h2>  
  <div Class="ContainerForm" > 
    <form class="form">          
      <input Class="valormodal" type="number"placeholder='R$ 0,00'>
      <select  name="" id="Card">
          <option value="" >Cartão com final 0123</option>
          <option value="">Cartão com final 1111</option>
      </select>         
    </form>
    <button mat-raised-button color="primary">Pagar</button> 
  </div>
</div>
</div>






